*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
.container{
    width: 1100px;
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    padding-top: 17px;
}
a{
    text-decoration: none;
}

header{
    max-width: 1300px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    height: 56px;
    
}

.nav{
    margin-top: 20px;
    max-width: 930px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.nav-div{
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 24px;
}
.menu{
    display: flex;
    gap: 20px;
}
.menu-content{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.menu__content:active{
    color: #FFFFFF;
}
.menu__services{
    position: absolute;
    padding-top: 10px;
    display: none;
    background-color: #FFFFFF;
    padding: 0px;
}
.menu__list-item:hover .menu__services{
    display: block;
    
}
.menu__services-item{
    font-family: 'Open Sans', sans-serif;
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
}
.menu__services-item:hover{
    background-color: #00BAFC;
}
.menu__services-item:active{
    background: #00BAFC;
    opacity: 0.6;
}
.menu__services{
    display: none;
    color: #000000;
}

.menu-content{
    color: #000000;
}




.number{
    text-decoration: none;
    color:#fff;
    background-color: #00BAFC;
    padding: 8px 16px;
    border-radius:5px;
    transition: all 0.3s ease-in;
    top: 12px;
}
.number:hover{
    color: #00BAFC;
    padding: 6px 14px;
    background-color: #fff;
    border:3px solid #00BAFC;
}




.wrapper{
    max-width: 470px;
    min-height: 224px;
    margin-top: 97px;
    margin-right: 172px;
}
.hero__tittle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    width: 470px;
    height: 78px;

}

.hero__paragraph{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    width: 465px;
    height: 74px;
    margin: 16px 0px 16px;
}
.button{
    width: 232px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border:none;
}
#super__button:hover{
    background: rgba(0, 186, 252, 0.8);
}
#super__button:active{
    background: rgba(0, 186, 252, 0.6)
}
.youtube{
    padding-top: 80px;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin-top: 56px;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    order: 1;
    text-align: center;
    margin: 16px 0px 24px;
    width: 719px;
    margin: 0 auto;
}
.service__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 24px;
}
.service__item{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 58px; 
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.service__item:hover{
    background: #FFFFFF;
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.service__item:active{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.service__listtittle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.service__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.service__button{
    margin-left: 430px;
    width: 850px;
}
#sub-card{
    display: flex;
    justify-content: space-around;
}

.main__wrapper{
    margin: 0 auto;
}
.card{
    min-height: 278px;
    max-width: 832px;
    margin-left: 134px;
    display: flex;
}
.step__wrapper-odd{
    margin-left: 35px;
}
.step__wrapper{
    margin-right: 177px;
}
.step__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    padding: 98px 0px 8px;
}
.step__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.div-btn{
    display: flex;
    justify-content: center;
    align-items:center;
    margin:50px;
}
.order{
    background: #00BAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 100px;
    gap: 16px;

}
.order__wrapper{
    max-width: 719px;
}
.order__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #ffffff;
    margin-top: 56px;
}
.order__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    order: 1;
    text-align: center;
    margin: 16px 0px 24px;

}

.btn{
    padding:8px 16px;
    color:#fff;
    background:#00BAFC;
    border:none;
}

.btn:hover{
    background: rgba(0, 186, 252, 0.8);
    border-radius: 5px;
}
.btn:active{
    background: rgba(0, 186, 252, 0.6);
    border-radius: 5px;
}

.form  div{
    display: flex;
    justify-content: center;
    align-items:center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 348px;
    height: 304px;
    margin: 24px 176px;
        
}
.form__button{
    background: #F3F3F3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 16px;
    width: 300px;
    height: 56px;
}
footer{
    background: #191919;
}
.footer__wrapper{
    margin-top: 56px;
}
.footer__menu{
    margin: 56px 87px 56px 100px;
    line-height: 30px;
}
.footer__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    width: 149px;
}
.footer__subtitle{
    font-family: 'Open Sans', sans-serif;
    max-width: 320px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}
.footer__content{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__content:hover{
    color: #00BAFC;
}
.footer__content:active{
    color: #00BAFC;
    opacity: 0.6;
}
#tg::before{
    content:url("../img/telegram.png");
    margin-right: 8px;
}
#facebook::before{
    content: url("../img/facebook.png");
    margin-right: 8.34px;
}
#insta::before{
    content: url("../img/insta.png");
    margin-right: 8px;
}




